<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0.30319" sku=".NETFramework,Version=v4.0,Profile=Client" />
    <supportedRuntime version="v4.0.30319" sku=".NETFramework,Version=v4.0" />
    <supportedRuntime version="v2.0.50727" />
    <supportedRuntime version="v2.0.50727" sku="Client" />
  </startup>
  <appSettings>
    <add key="PostMigratePortal" value="https://migrate3.azurewebsites.net" />
    <add key="ScmSitePrimary" value="https://migrate3.scm.azurewebsites.net/migrate" />
    <add key="ScmSiteSecondary" value="https://migrate4.scm.azurewebsites.net/migrate" />
    <add key="LicenseLink" value="https://www.apache.org/licenses/LICENSE-2.0.html" />
    <add key="CodePlexRepoLink" value="https://github.com/Azure/Azure-Websites-Migration-Tool" />
    <add key="CompatApi" value="/api/compat" />
    <add key="DbStatusApi" value="/api/dbmigration/{0}/sitename/{1}" />
    <add key="SiteStatusApi" value="/api/sitemigration/{0}/sitename/{1}" />
    <add key="Results" value="/results/index" />
    <add key="Mail" value="/mail/index" />
    <add key="ReadinessAssessment" value="/ReadinessAssessment" />
    <add key="MWDAssembly" value="Microsoft.Web.Deployment, Version=9.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <add key="DeploymentBaseOptionsType" value="Microsoft.Web.Deployment.DeploymentBaseOptions" />
    <add key="DatabaseProvider" value="dbfullSql" />
    <add key="TargetDatabaseEngineType" value="SqlAzureDatabase" />
    <add key="copyallusers" value="false" />
    <add key="copyalllogins" value="false" />
    <add key="scriptDropsFirst" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Deployment" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>